h1{
  color: blue;
  text-align: center;
  font-size: 50px;
  text-decoration-color: #696865;
  border-color: red;
  border-radius: 10px;
}
h3 {
  font-size: 99px;
  color: blue;
}

.superbowl {
  font-style: italic;
  font-weight: bold;
}
.sorry-receiver {
  font-stretch: expanded;
  font-style: oblique;
  font-weight: bolder;
}
img.displayed {
  margin-left: auto;
}
